body {
  font-family: "Slabo 27px", serif;
  font-size: 1.5rem;
  background-color: #fdfffc;
}
.head {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

strong {
  position: relative;
}

strong::before {
  background-color: #ff6663;
  content: "";
  position: absolute;
  width: calc(100% + 4px);
  height: 60%;
  left: -2px;
  bottom: 0;
  z-index: -1;
  transform: rotate(-2deg);
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.sect h2 {
  color: #ff6663;
}
.right-2 {
  display: flex;
  flex-direction: column;
}

.footer {
  padding: 1% 5%;
  text-align: center;
  background-color: #373b44;
  color: white;
}

.footer a {
  color: #fe4b74;
  font-weight: 500;
  text-decoration: none;
}

.date {
  color: #ff6663;
}
body {
  font-family: "Slabo 27px", serif;
  font-size: 1.5rem;
  background-color: #fdfffc;
}
.head {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

strong {
  position: relative;
}

strong::before {
  background-color: #ff6663;
  content: "";
  position: absolute;
  width: calc(100% + 4px);
  height: 60%;
  left: -2px;
  bottom: 0;
  z-index: -1;
  transform: rotate(-2deg);
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.sect h2 {
  color: #ff6663;
}
.right-2 {
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: 20px;
  padding: 1% 5%;
  text-align: center;
  background-color: #373b44;
  color: white;
}

.footer a {
  color: #ff6663;
  font-weight: 500;
  text-decoration: none;
}
.footer svg {
  z-index: -1;
}

#date {
  color: #ff6663;
}
